.project.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project.image{
    width: 10rem;
    margin: 1rem;

}

.project.image:hover img{
    -webkit-filter: invert(100%) !important;
}
.project.image:hover{
    border-radius: 50%;
    background-color: black;
}

.project.description{
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}