.resumepage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.contact{
    display: flex;
    justify-content: start;
    
}
.phone{
    padding-left: 5rem;
}
header, main{
    flex: 1 0 auto;
    padding-left: 3rem;
}
#footer{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
}